body {
    margin: 0;
}

header {
    background-color: aquamarine;
    padding: 10px 15px;
    font-size: 18px;
}

.container {
    padding: 0 15px;
}

.row,
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav {
    justify-content: right;
}

.nav li {
    list-style: none;
    padding: 5px;
    border: 1px solid black;

}

.nav li:not(:last-of-type) {
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.list li {
    font-size: 20px;
}

.list a {
    color: green;
}
