body {
    margin: 0;
}

header {
    background-color: aquamarine;
    padding: 10px 15px;
    font-size: 18px;
}

.row,
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    justify-content: right;
}

nav li {
    list-style: none;
    padding: 5px;
    border: 1px solid black;

}

nav li:not(:last-of-type) {
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}
